# {{ profile.name }}

\startalignment[center]
{\bf {{ profile.title }}} • {{ profile.specialties }}\crlf
\useURL[url_email][mailto:{{ profile.email }}][][{{ profile.email }}]\from[url_email] • {{ profile.phone }} • {{ profile.address }} • {{ profile.mobility }} • {{ profile.age }}~ans
\stopalignment

---
