>
{{ profile.name }}
============

> <{{ profile.email }}> • {{ profile.phone }} • {{ profile.age }} ans\
> {{ profile.address }}

----

> **{{ profile.title }}** \
> Spécialités: {{ profile.specialties }}

> Mobilité: {{ profile.mobility }}

----
